body{
    background-color: blue;
}
.app{
    border-radius: 7px;
    background-color: whitesmoke;
    height: 550px;
    width: 400px;
    margin-left: 50%;
    margin-top: 50px;
    transform: translateX(-50%);
    padding: 36px;
    text-align: center;
}